* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100vh;
  background-color: black;
  color: white;
  padding-left: 50vh;
  padding-right: 50vh;
}

body {
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-bottom: 0.15rem solid;
}

form {
  margin-top: 1rem;
}

.data {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  width: min-content;
  padding-right: 4rem;
  padding-left: 1rem;
  margin-left: 45rem;
  margin-top: 1rem;
}

.btnForm {
  background-color: black;
  color: white;
  text-align: center;
}

